@import url('https://fonts.googleapis.com/css?family=Acme|Patrick+Hand&display=swap');





.brand-logo{
    font-family: 'Patrick Hand';
    font-weight: bold;
}


.btn{
    border:none;
    border-radius:12px;
    height: 40px;
}

  

  .searchBox{
    margin-left:auto;
    margin-top:50px;
}

input[type="text"]{
    padding:25px;
    width:700px;
    border-radius: 8px;
    border:none;
    background-color: #efe;
    box-shadow: 5px 5px 15px rgb(189, 167, 167);

}

#btn{
    padding:15px;
    border-radius: 8px;
    border:none;
    cursor:pointer;
    background-color: blueviolet;
    width:90px;
    margin-left:20px;
    height: 60px;
    color: white;
    font-size: 24px;
    font-family: 'acme';
}



.card{
    visibility: hidden;
    padding:20px;
    background-color: white;
    height:auto;
    border-radius:10px;
    
    box-shadow:5px 5px 5px rgba(233, 192, 192, 0.6);
    
}

body{
    /* background: linear-gradient(to right, #fdfc47, #24fe41); */
    background-color: rgb(155, 243, 147);
}

h1,h4{ 
    font-family:'acme';
    margin-top:35px;
    color:white;
    text-align: center;
}

#title{
    font-family: 'acme';
    text-align: center;
}

.mainbody{
    font-family: 'Patrick Hand';
    font-size:18px;
}

#closebtn{
    padding:10px;
    border-radius: 8px;
    border:none;
    cursor:pointer;
    background-color: red;
    width:100px;
    margin-left:20px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-family: 'acme';
}

